

html {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    background: #6696E2;
    text-align: center;
  }
  
  .listai {
    padding-top: 200px;
    color: white;  
  }
  
  a {
    color:white;
    
  }
  
  .plan a {
    text-decoration: none;
    background:#FEFF00;
    padding:10px;
    color:black;
    border-radius:4px;
  }
  
  
  .plan h2 {
    text-transform: uppercase;
    color:white;
    letter-spacing: 2px;
    text-shadow:3px 3px 0 black;
  }
  
  .price {
    font-size: 50px;
    font-family: serif;
    margin: 10px 0;
    color: grey;
  }
  
  .plan {
    display: inline-flex;
    flex: 1;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: white;
  }
  
  
  .swiper {
    cursor: pointer;
    margin-top: 20px;
    width: 500px;
    text-align: center;
  }
  
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  
  .plan {
     width: 350px;
  }
  
  .swiper-pagination-bullets {
    position: relative;
    margin-top: 15px;
  }
  
  .swiper-pagination-bullet {
    background: grey;
    border: 3px solid white;
    width: 15px;
    height: 15px;
    transition: 0.3s;
  }
  
  .swiper-pagination-bullet-active {
    background: white;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    color: white;
    transition: 0.3s;
  }
  
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    transform: scale(1.2);
    text-shadow: 0 0 5px white;
  }
  
  
  @media (min-width: 1000px){
    .swiper {
      max-width: 1600px;
      width: 100%;
      cursor: default;
    }
  
    .plan {
      width: 20vw;
      max-width: 1400px;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }